/*======= Unniversal Page Styling Method ========= */
*{
    padding:0;
    margin:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;

}
body{
    background:#080808;
    color:#fff;
     
}
html{
    scroll-behavior: smooth;
}

#header{
    width:100%;
    height: 100vh;
    background-image:
    url(../TechYayooPortfiolo/Images/techya.jpg);
    background-size:cover;
    background-position:center;


    
}
.color__logo{
    color:#ff004f;
}
.logo{
    color: white;
    width: 40px;
}

.container{
    padding:10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 10px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:4px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}

.header__text{
    margin-top:20%;
    font-size: 30px;
}

.header__tex.h1{
    font-size: 60px;
    margin-top: 20px;
}
.headerText__color{
    color:#ff004f;
}

/* ======== About Page =======*/
#about{
    padding:80px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__col__1{
    flex-basis:35%;
}
.about__col__1 img{
    width:100%;
    border-radius: 15px;
}
.about__col__2{
    flex-basis: 60%;
}
.sub__title{
    font-size: 60px;
    font-weight:700;
    color:#fff;
}
.tab__title{
    display: flex;
    margin:20px 0 40px;
}
.tab__links{
    margin-right:50px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    position: relative;
}
.tab__links::after{
    content:'';
    width:0;
    height:4px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-7px;
    transition: 0.5s;

}
.tab__links.active__links::after{
    width:80%;

}
.tab__contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab__contents ul li span{
    color:#ff004f;
    font-size:14px;
}
.tab__contents{
    display: none;
}
.tab__contents.active__tab{
    display: block;

}

/* Serives Page */
#services{
    padding:30px 0;

}
.services__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
     grid-gap: 40px;
     margin-top: 50px;
}
.services__list div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 400px;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}
.services__list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services__list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 16px;
}
.services__list div a{
    text-decoration: none;
    font-size:18px;
    margin-top:20px;
    color:#fff;

}
.services__list div p{
    font-size:16px
}
.services__list div:hover {
    background:#ff004f;
    transform: translateY(-20px);

}

/* Portfiolo Page*/
#portfiolo{
    padding:30px 0;
}

.work__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:35px;
    margin-top:30px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
} 
.work img{
    width:100%;
    border-radius: 10px;
    transition: transform 0.7s;

}
.app__layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:22px;
    transition: height 0.7s;
}
.app__layer h3{
    font-weight:500;
    margin-bottom: 15px;
}
.app__layer a{
    margin-top: 15px;
    color:#ff004f;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    background:#fff;
    width:50px;
    height: 50px;
    border-radius:30%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.3);

}
.work:hover .app__layer{
    height:100%;
}
.app__btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:2px solid #ff004f;
    padding:12px 15px;
    text-decoration: none;
    border-radius: 7px;
    color:#fff;
    transition: background 0.7s;
    
}
.app__btn:hover{
    background: #ff004f;
}

/* ========== CSS for Contact Page====================*/
.contact__left{
    flex-basis: 35%;

}
.contact__right{
    flex-basis: 55%;
}
.contact__left p{
    margin-top:30px;
}
.contact__left p i{
    color:#ff004f;
    margin-right:15px;
    font-size: 25px;
}
.social__icons a i{
    text-decoration: none;
    font-size: 30px;
    margin-right:15px;
    margin-top:10px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.7s;

}

.social__icons a i:hover{
    color:#ff004f;
    transform: translate(-5px);
}
.app__btn.btn2{
    display:inline-block;
    background: #ff004f;
}

.contact__right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline: 0;
    background: #262626;
    padding:15px;
    margin:15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;

}
form .btn2{
    padding:13px 60px;
    font-size: 17px;
    margin-top:10px;
    cursor: pointer;

}

.copyright{
    width:100%;
    text-align: center;
    padding:20px 0;
    background: #262626;
    font-weight: 400;
    margin-top: 20px;
}

.copyright i{
    color:#ff004f;
 

}
nav .fa-sharp{
    display: none;
}

/*======== Website viewed on small devices========= */
@media only screen and (max-width:600px){
    #header{
       background-image:100%;
     }
    .header__text{
        margin-top:55%;
        font-size: 16px;

    } 
    .header__tex.h1{
        font-size: 30px;
        color:#fff;
    }
   .headerText__color{
       color:#fff;
   }
   nav .fa-sharp{
    display: block;
    font-size: 25px;
}
nav ul{
    background:#ababab;
    position: fixed;
    top:0;
    right:-200px;
    width:200px;
    height: 100vh;
    padding-top: 40px;
    z-index:2;
    transition: right 0.7s;
}
nav ul li{
    display:block;
    margin:25px;
}
nav ul .fa-sharp{
    position:absolute;
    background: #ff004f;
    top:24px;
    left:25px;
    cursor: pointer;
}
.sub__title{
    font-size:40px;
}
.about__col__1, .about__col__2{
    flex-basis: 100%;
}
.about__col__1{
    margin-bottom: 30px;
}
.about__col__2{
    font-size:14px;
}
.tab__links{
    font-size: 15px;
    margin-right:20px;
}
.contact__left, .contact__right{
    flex-basis: 100%;
}
.copyright{
    font-size: 13px;
}
.app__layer h3{
    font-size:18px;
}
.app__layer{
    font-size:18px;
}

}
#msg{
    color:#52b752;
    margin-top:-39px;
    display: block;
}


















